body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 120px 1fr;
	grid-template-columns: 1fr 400px;
	grid-template-areas: 
	"header header"
	"content sidebar";
}

.header {
	grid-area: header;
	padding:10px;
    background-image: url("https://wallpapercave.com/wp/wp4464657.jpg");
 	background-color: #cccccc;
}

.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: rgb(190, 240, 174);
	overflow: auto; /*sidebar scroll*/
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: rgb(132, 209, 132); /* background color */
    border: 1px solid rgb(68, 114, 66); /* border width, style, and color */
    margin: 5px; /* outer padding */
	border-radius: 12px;
		cursor: pointer; /*change hover to hand*/
	transition-duration: 0.4s;
}

.sidebar-item:hover {
	background-color: rgb(112, 177, 110);
}

.content {
	grid-area: content;
}